main {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.bw {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.bw:hover {
  filter: grayscale(0%);
}

.knap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.knap h5 {
  border: solid;
  border-width: 2px;
  width: 150px;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: var(--space-md);
  cursor: pointer;
}

.knap h5:hover {
  background-color: var(--primary);
  color: var(--accent1);
}

.boks {
  display: flex;
  justify-content: center;
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
  background-color: var(--primary);
}

.boks h2 {
  border: solid;
  border-width: 2px;
  width: 250px;
  padding: 0;
  color: var(--secondary);
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.boks h2:hover {
  transform: scale(1.05);
}

.boks2 {
  display: flex;
  border: solid;
  color: var(--primary);
  background-color: var(--primary);
  justify-content: center;
  margin-bottom: var(--space-xxl);
  padding: var(--space-md);
}

.boks2 h3 {
  color: var(--secondary);
  text-align: center;
}
.boks2 p {
  color: white;
  font-weight: lighter;
}

.grid_4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* figur 2 */
.figur2 {
  position: absolute;
  background-image: url(images/figur_2.svg);
  aspect-ratio: 350/1080;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  opacity: 15%;
  z-index: -10;
}

/* figur 3*/
.figur3 {
  position: absolute;
  background-image: url(images/figur_3.svg);
  aspect-ratio: 350/1080;
  width: 40%;
  background-size: cover;
  object-fit: cover;
  opacity: 30%;
  z-index: -10;
}

/* figur 4 */
.figur4 {
  position: absolute;
  top: 8%;
  background-image: url(images/figur_4.svg);
  aspect-ratio: 1080/350;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  opacity: 30%;
  z-index: -10;
}

/* tema 4 */
.logoimg {
  max-width: 100px;
}

/* CV */
dl {
  line-height: 2;
  font-family: "Chivo", serif;
  gap: 10px;
  padding-bottom: var(--space-lg);
}

dt {
  font-weight: bold;
}
dd p {
  padding: 0;
}
dd {
  padding-bottom: var(--space-md);
}

@media (min-width: 600px) {
  main {
    margin-left: var(--space-xxxl);
    margin-right: var(--space-xxxl);
  }

  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-top: var(--space-lg);
    padding-bottom: var(--space-xxl);
    align-items: stretch;
    object-fit: cover;
  }
  .grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: stretch;
    object-fit: cover;
  }
  .grid_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .order {
    order: -1;
  }

  .figur2 {
    width: 75%;
    opacity: 10%;
  }
}
